@model IEnumerable<Gym.Models.DietPlan>

@{
    ViewBag.Title = "Index";

}

<div style="padding-left: initial; padding-right: initial; padding-top:100px; padding-bottom:70px">
    <div id=" fh5co-trainer">

        <div class="container">

            <div class="row animate-box">

                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="background-color:#FEB371;  padding-top:20px; ">
                    <h2>Diet Plans</h2>
                </div>

            </div>

        </div>

        <div class="row" style="padding-left:80px; padding-right:80px; padding-bottom:40px; padding-top:40px">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-4 animate-box">

                    <div class="trainer" style="padding-left:50px; padding-bottom:30px; padding-top:40px ">
                        <h3 style="color:#F25B10">@item.Name</h3>
                        <a href='@Url.Action("Details", "DietPlans", new {id=item.DietPlanId })'>
                            <img class="img-responsive" src="~/Content/Images/DietPlan/@(item.ImageName).jpg" alt="trainer" , width="200" height="500">
                        </a>
                        <h2 style="font-size:larger;  padding-top:20px ;padding-left:60px; ">@item.Category</h2>
                        <p style="font-size:larger;  padding-top:20px ;padding-left:60px; ">
                            @Html.ActionLink("Details", "Details", new { id = item.DietPlanId }, new { @class = "btn btn-primary btn-outline btn-sm" })
                        </p>                                           
                            </div>
                    <br /><br /><br />
                </div>

            }
        </div>
    </div>
</div>